{% extends 'app.twig' %}

{% block content %}

    <header class="page-header">
        <h2>Blocos e Quadras</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li><span>Geral</span></li>                                
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
        <div class="row">

            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions form-inline">
                        <form action="/blocos" method="post">
                            <input type="text" name="search" class="form-control" value="{{ blocks_filter }}" />
                            <button class="btn btn-primary" name="btn-search" type="submit">Procurar</button>
                            <button class="btn btn-primary" name="btn-clear" type="submit"> <i class="glyphicon glyphicon-remove"></i> </button>
                        </form>
                    </div>            
                    <a href="/blocos/novo" class="btn btn-primary"> <i class="fa fa-plus"></i>  Novo</a>
                </header>
                <div class="panel-body">
                    <table class="table table-striped" id="datatable-tabletools">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th class="actions">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for block in blocks %}
                                <tr class="gradeX">
                                    <td><b>{{ block.name|e }}</b></td>
                                    <td class="actions-hover actions-fade">
                                        <a class="btn btn-primary" href="/blocos/edit/{{ block.id }}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-primary   " href="/blocos/remove/{{ block.id }}" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

            <div style="text-align:right;">
                {{ pagination.html | raw }}
            </div>
            
        </div>
    <!-- end: page -->
       

{% endblock %}
