{% extends 'app.twig' %}

{% block content %}

    <header class="page-header">
        <h2>Unidades</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li><span>Geral</span></li>                                
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
        <div class="row">
            <div class="col-md-12">
                <form id="form1" class="form-horizontal" action="/unidades/novo" method="post">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                            </div>

                            <h2 class="panel-title">Cadastro</h2>
                            <p class="panel-subtitle">
                                
                            </p>
                        </header>
                        <div class="panel-body">
                            
                            {{ csrf_field() | raw }}

                            <input type="hidden" name="id" value="{{ unit.id }}" />

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Bloco/Quadra: </label>
                                <div class="col-sm-8">
                                    <select class="form-control input-lg" name="block">
                                        {% for block in blocks %}
                                            {% if block.id == unit.block_id %}
                                                <option selected value="{{ block.id }}"> {{ block.name }} </option>
                                            {% else %}
                                                <option value="{{ block.id }}"> {{ block.name }} </option>
                                            {% endif %}    
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Número: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="number" value="{{ unit.number }}" class="form-control input-lg">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nome: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" value="{{ unit.name }}" class="form-control input-lg">
                                </div>
                            </div>
                        </div>
                        <footer class="panel-footer">
                            <a href="/unidades" class="btn btn-secundary"> Cancelar</a>
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-check"></i> Salvar </button>
                        </footer>
                    </section>
                </form>
            </div>            
        </div>
    <!-- end: page -->       

{% endblock %}
