{% extends 'app.twig' %}

{% block content %}

    <header class="page-header">
        <h2>Visitantes</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li><span>Geral</span></li>                                
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
        <div class="row">
            <div class="col-md-12">
                <form id="form1" class="form-horizontal" action="/visitantes/remove" method="post">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                            </div>

                            <h2 class="panel-title">Remover</h2>
                            <p class="panel-subtitle">
                                
                            </p>
                        </header>
                        <div class="panel-body">
                            
                            {{ csrf_field() | raw }}

                            <input type="hidden" name="id" value="{{ visitor.id }}" />

                            <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    {% if (visitor.img != "") %}
                                      <img src="/assets/avatars/{{visitor.img}}"  class="img-thumbnail" style="width:150px;height:150px;" />
                                    {% else %}
                                      <img src="/assets/images/avatar_resident.png"  class="img-thumbnail" style="width:150px;height:150px;" />
                                    {% endif %}   

                                    <input type="hidden" name="img" />
                                </div>
                            </div>                              

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nome: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" class="form-control input-lg"  disabled value="{{ visitor.name }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Documento: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="document" class="form-control input-lg" disabled value="{{ visitor.document }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tipo: </label>
                                <div class="col-sm-8">
                                    <select name="service_provider" class="form-control input-lg" disabled>
                                        <option value="0" {{ visitor.service_provider == 0 ? 'selected' : '' }} > Visitante </option>
                                        <option value="1" {{ visitor.service_provider == 1 ? 'selected' : '' }} > Prestador de Serviço </option>
                                    </select>
                                </div>
                            </div>

                            {% if visitor.vehicles|length > 0 %}
                              <div class="form-group">
                                  <label class="col-sm-4 control-label"><h4>Veículos</h4></label>
                                  <div class="col-sm-8">
                                      <div id="vehicle-list">
                                          {% if visitor.vehicles|length > 0 %}
                                              {% for vehicle in visitor.vehicles %}

                                                  <div class="vehicle-item-{{vehicle.id}}">
                                                      <div class="col-sm-10" style="padding:15px 0px 5px 0px;display:inline;" >
                                                           <div class="radio-custom radio-primary checkbox-inline">
                                                               <input type="radio" name="vehicle[{{vehicle.id}}][type]" disabled id="radioExample1{{vehicle.id}}" value="1" {{ (vehicle.type == 1) ? 'checked' : '' }} >
                                                               <label for="radioExample1{{vehicle.id}}"><b>Carro</b></label>
                                                           </div>
                                                           <div class="radio-custom radio-primary checkbox-inline">
                                                               <input type="radio" name="vehicle[{{vehicle.id}}][type]" disabled id="radioExample2{{vehicle.id}}" value="2" {{ (vehicle.type == 2) ? 'checked' : '' }} >
                                                               <label for="radioExample2{{vehicle.id}}"><b>Moto</b></label>
                                                           </div>
                                                           <div class="radio-custom radio-primary checkbox-inline">
                                                               <input type="radio" name="vehicle[{{vehicle.id}}][type]" disabled id="radioExample3{{vehicle.id}}" value="3" {{ (vehicle.type == 3) ? 'checked' : '' }} >
                                                               <label for="radioExample3{{vehicle.id}}"><b>Utilitário</b></label>
                                                           </div>
                                                           <div class="radio-custom radio-primary checkbox-inline">
                                                               <input type="radio" name="vehicle[{{vehicle.id}}][type]" disabled id="radioExample4{{vehicle.id}}" value="4" {{ (vehicle.type == 4) ? 'checked' : '' }} >
                                                               <label for="radioExample4{{vehicle.id}}"><b>Caminhão</b></label>
                                                           </div>
                                                       </div>
                                                       <div class="col-sm-2" style="padding:14px 0px 0px 0px;">
                                                           <button type="button" class="btn btn-sm phone-item-rm-0 btn-secundary" disabled onclick="removeVehicleItem('{{vehicle.id}}');"><i class="fa fa-trash-o"></i></button>
                                                            <button type="button" class="btn btn-sm phone-item-add-0 btn-secundary" disabled style="margin-left:3px;" onclick="addVehicleItem();"><i class="fa fa-plus"></i></button>
                                                        </div>      
                                                        <div class="col-sm-10" style="padding:5px 0px 5px 0px;">
                                                            <label>Modelo:</label>
                                                            <input type="text" name="vehicle[{{vehicle.id}}][model]" disabled value="{{vehicle.model}}" class="form-control input-sm">
                                                        </div>
                                                        <div class="col-sm-10" style="padding:0px">
                                                            <div class="col-sm-6" style="padding:0px 0px 5px 0px;">
                                                                <label>Placa:</label>
                                                                <input type="text" name="vehicle[{{vehicle.id}}][plate]" disabled value="{{vehicle.plate}}" class="form-control input-sm">
                                                            </div>
                                                            <div class="col-sm-6" style="padding:0px 0px 5px 5px;">
                                                                <label>Cor:</label>
                                                                <input type="text" name="vehicle[{{vehicle.id}}][color]" disabled value="{{vehicle.color}}" class="form-control input-sm">
                                                            </div>
                                                        </div>
                                                  </div>

                                              {% endfor %}
                                          {% endif %}

                                      </div>
                                  </div>
                              </div>



                            {% else %}

                              <div class="form-group">
                                  <label class="col-sm-4 control-label"><h4>Veículos</h4></label>
                                  <div class="col-sm-8">
                                      <div id="vehicle-list"></div>
                                  </div>
                              </div>

                            {% endif %}


                        </div>
                        <footer class="panel-footer">
                            <a href="/visitantes" class="btn btn-secundary"> <i class="fa fa-undo"></i> Cancelar</a>
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-check"></i> Remover </button>
                        </footer>
                    </section>
                </form>
            </div>


            
        </div>
    <!-- end: page -->
       

{% endblock %}
